img {
border-radius: 4px;
padding: 50px;
width: 250px;
height:250px;
}
table ,tr,th{
text-align : center;
} s
h1 {
text-align : center;
}
button {
background-color: #bfff00;
border: none;
color: ff00ff;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}